<section class="mx-10">
  <h1 class="text-3xl">{{ country().name }}</h1>
  <h2 class="text-xl font-thin">
    {{ country().details }}
  </h2>
</section>

<section class="stats shadow mx-5 my-4 bg-slate-200">
  <div class="stat place-items-center">
    <div class="stat-title">Población</div>
    <div class="stat-value">{{ country().population | number }}</div>
    <div class="stat-desc">Desde {{ currentYear() }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Nombre</div>
    <div class="stat-value text-secondary">{{ country().nameSpanish }}</div>
    <div class="stat-desc text-secondary">{{ country().capital }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Region</div>
    <div class="stat-value">{{ country().region }}</div>
    <div class="stat-desc">{{ country().subRegion }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Bandera</div>
    <div class="stat-value">{{ country().flag }}</div>
    <div class="stat-desc">{{ country().subRegion }}</div>
  </div>
</section>

<section class="w-full mt-2 p-2 h-auto text-center">
  <div class="card bg-base-100 w-96 shadow-sm">
    <figure>
      <img [alt]="country().name" [src]="country().flagSvg" />
    </figure>
  </div>
</section>
