<section class="overflow-x-auto shadow-md sm:rounded-lg mt-7">
  <table class="w-full text-sm text-left text-gray-500">
    <thead
      class="text-xs text-gray-700 uppercase bg-white border-b border-gray-300"
    >
      <tr>
        <th scope="col" class="px-6 py-3">#</th>
        <th scope="col" class="px-6 py-3">Icono</th>
        <th scope="col" class="px-6 py-3">Bandera</th>
        <th scope="col" class="px-6 py-3">Nombre</th>
        <th scope="col" class="px-6 py-3">Capital</th>
        <th scope="col" class="px-6 py-3">Población</th>
        <th scope="col" class="px-6 py-3">Región</th>
        <th scope="col" class="px-6 py-3">Subregión</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.cca2; let index = $index){
      <tr class="bg-slate-100 hover:bg-gray-300">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ index + 1 }}
        </th>
        <td class="px-6 py-4">{{ country.flag }}</td>
        <td class="px-6 py-4">
          <img
            [src]="country.flagSvg"
            [alt]="country.name"
            class="w-16 h-10 rounded border border-base-content/20"
          />
        </td>
        <td class="px-6 py-4">{{ country.nameSpanish }}</td>
        <td class="px-6 py-4">{{ country.capital }}</td>
        <td class="px-6 py-4">
          <span class="badge badge-accent badge-lg">
            {{ country.population | number }}
          </span>
        </td>
        <td class="px-6 py-4">{{ country.region }}</td>
        <td class="px-6 py-4">{{ country.subRegion }}</td>
        <td class="px-6 py-4 text-left">
          <a
            class="btn btn-outline btn-info min-w-36"
            [routerLink]="['/country/by/', country.cca2]"
            >Más Información</a
          >
        </td>
      </tr>
      }
      <!-- Error -->
      @if (errorMessage()){
      <tr>
        <td colspan="10" class="py-4 px-4 md:px-0 md:text-center">
          {{ errorMessage() }}
        </td>
      </tr>
      }
      <!-- Empty -->
      @if (countries().length === 0 && !isLoading()){
      <tr>
        <td colspan="10" class="py-4 px-4 md:px-0 md:text-center">
          No hay resultados para esta búsqueda
        </td>
      </tr>
      }
      <!-- Loading -->
      @if (isLoading()){
      <tr>
        <td colspan="10" class="py-4 px-4 md:px-0 md:text-center">
          Buscando info...
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
